.ant-upload-select-picture-card{
	width: 200px !important;
	height: 200px !important;
	margin: 0px auto !important;
	margin-bottom: 20px !important;

	img {
		width: 200px !important;
		height: 200px !important;
	}
}

