@import '~antd/dist/antd.css';

$backgroundColor: #f4f4f4;
$backgroundImage: './containers/static/bg.gif';

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
	background: $backgroundColor url($backgroundImage) repeat top left;
	overflow-x: hidden;
}

#root {
	width: 100%;
	background: $backgroundColor url($backgroundImage) repeat top left;
}

@media (min-width: 600px) and (max-width: 1140px) {

	.contentWrapper {
		padding: 0px 10px !important;
	}
	.contentWrapperNoPadding{ 
		padding: 0px !important;
	}
	.contentWrapperNoPaddingRight{ 
		padding-right: 0px !important;
	}

}
