.cardDetailsHolder {
	background: #333333;
	border-color: #000000;

    .ant-form-item-label label {
    	color: #FFFFFF !important;
    }

    .ant-transfer-list-body {
    	background: #FFFFFF !important;
    }
}

@media (max-width: 768px) {

	.tableListHolder {
    	display: none;
    }

}